<section class="user-section">
  <%= render_search(@user) %>
  <%= render_username(@user)%>
  <article class="timeline">
    <h3>Recent posts:</h3>
    <ul class="posts">
      <%= render @posts %>
    </ul>
  </article>
</section>
<section class="users-section">
  <ul class="users-list">
    <% @pending.each do |user| %>
      <li>
        Name: <%= user.name %>
        <span class="profile-link">
          <%= link_to 'See Profile',  user_path(user), class: 'profile-link' %>
          <%= check_friendship(user, current_user) %>
        </span>
      </li>
    <% end %>
  </ul>
</section>

